$font-size-12: 12px;
$font-size-14: 14px;
$font-size-24: 24px;
$font-size-36: 36px;

$font-weight-300: 300;

$line-height-1: 1.25;
$line-height-2: 1.43;
$line-height-3: 1.5;

$margin-10: 10px;
$margin-15: 15px;
$margin-25: 25px;

$letter-spacing-1: 0.5px;
